* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --button: #8b48bf;
  --white: #ffffff;
  --darkBlue: #242e52;
  --darkBlueBanner: #232c50;
  --featureText: #b3b2b7;
  --featureH2: #323851;
  --bkg-footer: #1e1e26;
  --celesteBrillante: #3cddf3;
}

h1 {
  visibility: hidden;
  size: 0px;
}

/********* HEADER **********/

header {
  color: var(--darkBlue);
}

.logo {
  padding: 30px;
  cursor: pointer;
}

.nav-desktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  font-weight: 500;
}

header nav ul li {
  padding: 20px;
  cursor: pointer;
}

.nav-mobile {
  display: none;
}

.nav-hamburguer-menu {
  width: 46px;
  height: 41px;
}

/* Boton violeta CTA */
.violet-btn {
  background-color: var(--button);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  color: var(--white);
  height: 44px;
  font-weight: 500;
  line-height: 19.26px;
  padding: 10px;
  size: 13px;
  width: 134px;
  cursor: pointer;
}

.violet-btn:hover {
  background-color: rgba(139, 72, 191, 0.7);
}

/********* BANNER **********/

.container-banner {
  padding: 120px;
  display: flex;
  flex-wrap: nowrap;
}

.container-banner img {
  object-fit: cover;
  width: 540px;
  height: 461.07px;
}

.banner-texto {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  padding: px;
  text-align: right;
  letter-spacing: -0.035em;
  padding: 30px;
}

.banner-texto h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 57px;
  text-align: right;
  padding-bottom: 40px;
}

.banner-texto p {
  font-size: 16.5px;
  font-weight: 400;
  line-height: 26px;
  text-align: right;
  padding-bottom: 50px;
}
/********* WHAT'S DIFFERENT BETWEEN PROS ***********/

/* seccion violeta */
.pro-section {
  background-color: var(--button);
  color: var(--white);
  padding: 10px 95px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.pro-section h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 41.26px;
  padding: 40px;
}
.pro-section .pro-text-desktop,
.pro-text-mobile {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24.18px;
}

.pro-text-mobile {
  display: none;
}

/********* FEATURES 1 - 2 - 3 ***********/

/* Boton con numero */
.feature-btn-container {
  padding: 10px;
}

.feature-btn-number {
  background: var(--button);
  border-radius: 30px;
  color: var(--white);
  height: 43px;
  padding: 14px 0px;
  text-align: center;
  width: 69px;
}

/* Titulo de feature */
.feature-title {
  color: var(--featureH2);
  font-weight: 700;
  line-height: 23.38px;
  letter-spacing: -1.5% !important;
  size: 16px;
  padding: 10px 0px;
}

/* Description texto p*/
.feature-description {
  color: var(--featureText);
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1%;
  size: 16.3px;
}

/* Contenedor Features 1 y 2 */
.contenedor-features {
  padding: 0px 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature-1,
.feature-2,
.feature-3 {
  align-items: baseline;
  padding: 40px 0px;
  display: flex;
  flex-direction: row;
  width: 550px;
}

/* Contenedor feature 3 para que quede centrada abajo */
.contenedor-feature3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 150px;
}

.contenedor-features,
.contenedor-feature3 {
  background-color: #fafafa;
}

/* Mobile */
/* .title2-feature-mobile {
  background-color: rgba(139, 72, 191, 0.3);
  border-radius: 50px 0px 0px 50px;
  display: flex;
  width: 490px;
  height: 43px;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

.title2-feature-mobile .feature-title-mobile {
  margin-left: 5px;
} */

.title2-feature-mobile {
  display: none;
}

/*** BEST OF THE MONTH ***/

.container-best {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 25px;
}

.best-title {
  text-align: center;
  padding: 65px 150px;
  color: var(--darkBlueBanner);
}

.best-of-the-month-h2 {
  font-weight: 600;
  font-size: 40px;
}

.best-cards {
  background-color: #fafafa;
}

.best-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  text-align: center;
  color: var(--darkBlue);
  padding-top: 30px;
}

.image-cards {
  text-align: center;
  position: relative;
  top: 25px;
}

.best-card-description {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 156%;
  text-align: center;
  color: var(--featureText);
  padding: 35px;
  width: 445px;
  height: 220px;
}

/**** Boton More ****/
.best-btn-more {
  text-align: center;
  padding: 30px;
}

.best-btn-more .violet-btn:hover {
  background-color: rgba(139, 72, 191, 0.7);
}

.white-space {
  height: 150px;
}

/****  Get to know the best teams of the year ****/

.white-btn {
  background-color: var(--white);
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25);
  color: var(--button);
  height: 44px;
  font-weight: 500;
  line-height: 19.26px;
  padding: 14px 34px;
  size: 13px;
  width: 134px;
  cursor: pointer;
}

.pro-section-footer-text {
  text-align: left;
  width: 500px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.violet-footer {
  display: flex;
  justify-content: space-between;
}

.pro-section-cta-container {
  padding-right: 20px;
}

/*** FOOTER ***/
footer {
  background-color: var(--bkg-footer);
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  align-items: center;
  height: 247px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  font-weight: 100;
  size: 12px;
  line-height: 18px;
  text-align: right;
  padding: 10px 50px;
}

.logo {
  padding-left: 0%;
}

.logo-socialmedia {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.social-media {
  display: flex;
  justify-content: space-around;
}

/*** Seccion Footer Links ***/

.footer-links-2 {
  display: flex;
  width: 480px;
  justify-content: space-around;
}

.footer-links,
.more-links {
  display: flex;
  justify-content: space-around;
}

.footer-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 25px;
}

.more-links-texto {
  line-height: 0%;
  padding-top: 14px;
  padding-bottom: 45px;
}

/*** Links ***/
/* unvisited link */
a:link {
  color: var(--white);
}

/* visited link */
a:visited {
  color: var(--white);
}

/* mouse over link */
a:hover {
  color: #b3b3cc;
}

nav ul li a:link {
  color: #242e52;
}

nav ul li a:visited {
  color: #242e52;
}

nav ul li a:hover {
  color: #b3b3cc;
}

.formulario-email {
  padding: 30px;
  padding-top: 45px;
}

.estilo-formulario {
  background-color: var(--white);
  border: none;
  border-radius: 50px;
  width: 201px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 13.1806px;
  line-height: 19px;
  text-align: center;
  padding: 10px;
}

/* Botono formulario GO */

.submit-go-btn {
  background-color: var(--button);
  border-radius: 50px;
  cursor: pointer;
  width: 63px;
  height: 42px;
  border: none;
  color: var(--white);
  font-weight: 400;
  font-size: 13px;
}

.submit-go-btn:hover {
  background-color: rgb(183, 136, 219);
}

.white-btn:hover {
  background-color: #232c50;
  color: var(--white);
}

/******** MEDIA QUERIES *********/
@media (max-width: 480px) {
  * {
  }

  header {
    display: block;
  }

  /*** NAV ***/
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 480px;
    padding: 50px;
  }
  /*** BANNER ***/
  .container-banner {
    flex-direction: column;
    padding: 30px;
    padding-right: 40px;
    width: 480px;
  }

  .container-banner img {
    width: 400px;
    height: 341px;
    margin-left: 20px;
  }

  .banner-texto {
    padding: 10px;
    padding-top: 65px;
  }

  /*** WHAT'S DIFFERENT BETWEEN PROS ***/

  .feature-btn-container {
    display: none;
  }

  .section-2 {
    padding: 0;
  }

  .pro-section {
    background-color: var(--celesteBrillante);
    flex-direction: column;
    padding: 20px;
    width: 530px;
    height: 306px;
  }

  .pro-section h2 {
    padding-left: 10px;
  }

  .pro-text-desktop {
    display: none;
  }

  .pro-text-mobile {
    display: unset;
    padding-left: 10px;
  }

  /*** BEST OF THE MONTH ***/
  .best-title {
    padding: 0px;
  }

  .best-of-the-month-h2 {
    padding-top: 70px;
    padding-left: 50px;
  }

  .card-1,
  .card-3 {
    display: none;
  }

  .container-best {
    width: 530px;
    padding-left: 25px;
    padding-right: 20px;
  }

  .best-btn-more {
    margin-left: 20px;
  }
  .white-space {
    display: none;
  }

  /*** FEATURES ***/
  .feature-1 .feature-btn-container {
    display: none;
  }
  .feature-info .feature-title {
    display: none;
  }

  .title2-feature-mobile {
    background-color: rgba(139, 72, 191, 0.3);
    border-radius: 50px 0px 0px 50px;
    display: flex;
    width: 490px;
    height: 43px;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
  }

  .title2-feature-mobile .feature-title-mobile {
    margin-left: 5px;
  }

  .contenedor-features,
  .contenedor-feature3 {
    flex-direction: column;
    background-color: var(--white);
    padding: 0px;
    margin-left: 20px;
  }
  .contenedor-feature3 {
    margin-left: 32px;
  }

  .feature-1,
  .feature-2,
  .feature-3 {
    align-items: baseline;
    padding: 40px 0px;
    flex-direction: column;
    width: 480px;
  }

  .feature-title,
  .feature-description {
    margin-left: 20px;
  }

  .feature-description {
    margin-top: 15px;
    padding-right: 30px;
  }
  /*** GET TO KNOW THE BEST TEAMS OF THE YEAR ***/

  .pro-section-footer-text {
    text-align: center;
  }

  .pro-section-footer-text h2 {
    padding: 30px;
  }
  .white-btn {
    background-color: #232c50;
    color: #ffffff;
  }

  .pro-section {
    padding-bottom: 50px;
  }

  /*** FOOTER ***/
  footer {
    width: 530px;
    height: 540px;
  }
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  .logo-socialmedia {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 480px;
    margin-top: 20px;
  }

  .social-media {
    width: 480px;
  }

  .copyright {
    text-align: center;
  }

  .footer-links,
  .more-links {
    height: 150px;
  }

  .footer-links-2 {
    display: flex;
    width: 480px;
    justify-content: space-around;
  }
}
